<footer>
  <div class="container">
    <div class="">
      <a class="logo-footer" href="#">Mimino</a>
      <p class="">restaurant-hotel complex</p>
    </div>
    <ul class="socials-list">
      <li class="socials-item">
        <svg class="socials-icon" width="20" height="20">
          <use href="../svg-images/icons.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="socials-item">
        <svg class="socials-icon" width="20" height="20">
          <use href="../svg-images/icons.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="socials-item">
        <svg class="socials-icon" width="20" height="20">
          <use href="../svg-images/icons.svg#icon-twitter"></use>
        </svg>
      </li>
    </ul>
  </div>
</footer>
