<section>
  <div class="container">
    <ul class="list">
      <li>
        <img
          src="../svg-images/tripleroom-kitchen.jpg"
          alt="kitchen"
          width="386px"
          height="395px"
        />
      </li>
      <li>
        <img
          src="../svg-images/tripleroom-bedroom.jpg"
          alt="bedroom"
          width="539px"
          height="762px"
        />
      </li>
      <li>
        <img
          src="../svg-images/tripleroom-bathroom.jpg"
          alt="bathroom"
          width="387px"
          height="510px"
        />
      </li>
    </ul>
    <button type="button">MOER DETAILS</button>
    <button type="button">VIEW PRICES</button>
    <h2>TRIPLE ROOM</h2>
    <p>
      Escape to our spacious Triple Room, perfect for families or groups. Enjoy
      comfort with three beds, seating area, stunning views, flat-screen TVs,
      Wi-Fi, and mini-fridge.
    </p>
    <p>
      Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
      now for a memorable stay.
    </p>
  </div>
</section>
