<section class="">
  <div>
    <h2 class="heading-secondary">DOUBLE LUXURY ROOM</h2>
    <p>
      Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious
      room features a comfortable bed, private bathroom, flat-screen TV, and
      high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing
      ensure a peaceful night's sleep.
    </p>
    <p>
      Relax after a busy day at the writing desk or armchair. Book now for a
      convenient and comfortable stay.
    </p>
    <button>More details</button>
    <button>View prices</button>
    <picture>
      <source
        media="(min-width:1200px)"
        srcset="
          ./images/HP/dr-desk/room_desk@1x.webp 1x,
          ./images/HP/dr-desk/room_desk@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:1200px)"
        srcset="
          ./images/HP/dr-desk/room_desk@1x.jpg 1x,
          ./images/HP/dr-desk/room_desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/HP/dr-tab/room_tab@1x.webp 1x,
          ./images/HP/dr-tab/room_tab@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/HP/dr-tab/room_tab@1x.jpg 1x,
          ./images/HP/dr-tab/room_tab@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/HP/dr-mob/room_mob@1x.webp 1x,
          ./images/HP/dr-mob/room_mob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/HP/dr-mob/room_mob@1x.jpg 1x,
          ./images/HP/dr-mob/room_mob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/HP/dr-mob/room_mob@1x.jpg"
        alt="room"
        width=""
        height=""
        class=""
      />
    </picture>
    <picture>
      <source
        media="(min-width:1200px)"
        srcset="
          ./images/HP/dr-desk/bath_desk@1x.webp 1x,
          ./images/HP/dr-desk/bath_desk@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:1200px)"
        srcset="
          ./images/HP/dr-desk/bath_desk@1x.jpg 1x,
          ./images/HP/dr-desk/bath_desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/HP/dr-tab/bath_tab@1x.webp 1x,
          ./images/HP/dr-tab/bath_tab@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/HP/dr-tab/bath_tab@1x.jpg 1x,
          ./images/HP/dr-tab/bath_tab@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/HP/dr-mob/bath_mob@1x.webp 1x,
          ./images/HP/dr-mob/bath_mob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/HP/dr-mob/bath_mob@1x.jpg 1x,
          ./images/HP/dr-mob/bath_mob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/HP/dr-mob/bath_mob@1x.jpg"
        alt="bath"
        width=""
        height=""
        class=""
      />
    </picture>
    <picture>
      <source
        media="(min-width:1200px)"
        srcset="
          ./images/HP/dr-desk/kitchen_desk@1x.webp 1x,
          ./images/HP/dr-desk/kitchen_desk@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:1200px)"
        srcset="
          ./images/HP/dr-desk/kitchen_desk@1x.jpg 1x,
          ./images/HP/dr-desk/kitchen_desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/HP/dr-tab/kitchen_tab@1x.webp 1x,
          ./images/HP/dr-tab/kitchen_tab@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/HP/dr-tab/kitchen_tab@1x.jpg 1x,
          ./images/HP/dr-tab/kitchen_tab@2x.jpg 2x
        "
        type="image/jpg"
      />
      jpg
      <source
        media="(max-width:767px)"
        srcset="
          ./images/HP/dr-mob/kitchen_mob@1x.webp 1x,
          ./images/HP/dr-mob/kitchen_mob@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/HP/dr-mob/kitchen_mob@1x.jpg 1x,
          ./images/HP/dr-mob/kitchen_mob@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/HP/dr-mob/kitchen_mob@1x.jpg"
        alt="kitchen"
        width=""
        height=""
        class=""
      />
    </picture>
  </div>
</section>
