<!--Modal BOOK A TABLE-->
<div>
    <div>
        <button type="button">CLOSE</button>
        <strong>BOOK A TABLE</strong>
        <form action="">
            <label>
                <span>YOUR NAME</span>
                <input type="text">
                <span>WHO SHOULD BOOK A TABLE FOR?</span>
            </label>
            <label>
                <span>NUMBER OF PEOPLE</span>
                <input type="number" name="number_of_people" min="1" max="12">
            </label>
            <label>
                <span>TODAY</span>
                <input type="date">
                <span>WHAT DATE TO BOOK?</span>
            </label>
            <label>
                <span>+38()</span>
                <input type="tel">
                <span>PHONE NUMBER</span>
            </label>
            <button type="submit">MAKE A RESERVATION</button>
        </form>
    </div>
</div>

<!--Modal BOOK A ROOM-->
<div>
    <div>
        <button type="button">CLOSE</button>
        <strong>BOOK A ROOM</strong>
        <form action="">
            <label>
                <span>YOUR NAME</span>
                <input type="text">
                <span>WHO SHOULD BOOK A TABLE FOR?</span>
            </label>
            <label>
                <span>+38()</span>
                <input type="tel">
                <span>PHONE NUMBER</span>
            </label>
            <label>
                <span>TODAY</span>
                <input type="date">
                <span>Check-in date</span>
            </label>
            <label>
                <span>25/04/2023</span>
                <input type="date">
                <span>Check-out date</span>
            </label>
            <label>
                <select name="">
                    <option value="">Double suite</option>
                </select>
            </label>
            <button type="submit">MAKE A RESERVATION</button>
        </form>
    </div>
</div>

<!--Modal PRICES PER ROOM-->
<div>
    <div>
        <button type="button">CLOSE</button>
        <strong>PRICES PER ROOM</strong>
        <label>
            <span>DOUBLE SUITE</span>
            <input type="number">
            <span>NUMBER OF NIGHTS</span>
        </label>
        <label>
            <span>25/04/2023</span>
            <input type="date">
            <span>Check-in date</span>
        </label>
        <button type="submit">MAKE A RESERVATION</button>

        <form action="">

        </form>
    </div>
</div>