<div>
    <h1>
        Restaurant
      </h1>
      <p>Relax and unwind with our delicious offerings, available any time of day.</p>
      <div>
        <button type="button">Book a table</button>
        <button type="button">View the menu</button>
      </div>
      <picture>
        <source
          media="(min-width:1200px)"
          srcset=""
          type="image/webp"
          alt=""
    
        />
        <source
          media="(min-width:1200px)"
          srcset=""
          type="image/jpg"
          alt=""
    
        />
        <source
          media="(min-width:768px)"
          srcset=""
          type="image/webp"
          alt=""
    
        />
        <source
          media="(min-width:768px)"
          srcset=""
          type="image/jpg"
          alt=""
    
        />
        <source
          media="(min-width:320px)"
          srcset=""
          type="image/webp"
          alt=""
    
        />
      </picture>
</div>
