<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mimino</title>
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>

<!-- Main Page Location and Contacts HTML -->
<section>

    <h2>LOCATION</h2>
    
    <p>Ukraine, Poltava, St. Marshal Biryuzov, 15</p>

    <picture>
        <source srcset=
        "./images/map-desktop@1x.jpg 1x, 
         ./images/map-desktop@2x.jpg 2x"  media="(min-width: 1200px)" >

        <source srcset=
        "./images/map-tablet@1x.jpg 1x, 
        ./images/map-tablet@2x.jpg 2x" media="(min-width: 768px)" >

        <source srcset= 
        "./images/map-mobile@1x.jpg 1x, 
        ./images/map-mobile@2x.jpg 2x" media="(max-width: 767px)" >

        <img class=""  src="./images/map-mobile@1x.jpg" alt="map" width="">
       </picture>

    <p>call us:</p>
    <ul>
        <li>(095) 555 95 33</li>
        <li>(066) 849 10 89</li>
    </ul>

</section>
<!-- end section -->

</body>
</html>