/* Location decsription */

.location {
    background-color: #F7F7F7;
}


.location-block {
    background-color:#F7F7F7;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
    /* padding-left: 20px; */
    
    }

    @media screen and (min-width: 768px) {
        .location-block {
        /* flex-direction: row-reverse; */
        /* justify-content: flex-end; */
        padding-top: 80px;
        /* padding-left: 32px; */
        padding-bottom: 80px;
        }
    
        }
    
 

    @media screen and (min-width: 1440px) {
    .location-block {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 100px;
    padding-left: 64px;
    padding-bottom: 100px;
    }

    }


.location-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

    @media screen and (min-width: 1440px) {
    .location-description {
    position: relative;
    left: -320px;
    bottom: -315px;}

    }

    
/* Location header decription */
    
    .location-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
    margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
    .location-title {
    font-size: 68px;
    line-height: 68px;
    margin-bottom: 40px;}
         }

    @media screen and (min-width: 1440px) {
        .location-title {
        display: flex;
        order: 1;
        margin-left: 32px;
        font-size: 68px;}
                 }
  

    /* picture description */

    .map-images {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    } 

    @media screen and (min-width: 1440px) {
    .map-images {
    justify-content: flex-start;
    order: 1;
   
    }
    }

    .map-photo {
    box-shadow: -2px 20px 20px 5px #d8d8d8;
    width: 335px;
    }

    @media screen and (min-width: 768px) {
    .map-photo {
    width: 704px;
        }
    }
 
    @media screen and (min-width: 1440px) {
    .map-photo {
    width: 640px;}
    }


    
  
  /* adress & tel desc */

    .contacts-list {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 64px; */
    }



    @media screen and (min-width: 768px) {
    .contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-bottom: 80px; */
    }
    }



    .item-adress {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    width: 214px;
    /* margin-bottom: 28px; */
    }

    
    .contacts-subtitle{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2; 
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 12px;
    }

   

    @media screen and (min-width: 1440px) {
        .contacts-subtitle {
        font-weight: 700;}
            }

    .contacts-block {
        margin-top: 28px;
    }

    @media screen and (min-width: 768px) {
    .contacts-block {
    display: flex;
    flex-direction: column;
    margin: 0;}
    }


    @media screen and (min-width: 1440px) {
    .contacts-block {
    margin-left: 70px;
    flex-direction: row;
    width: 280px;
    align-items: baseline;}
     }
    
    
    .item-phone {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    column-gap: 4px;
    letter-spacing: -0.02em;
    color: #121212;
    /* margin-bottom: 88px; */
    }

  

    @media screen and (min-width: 768px) {
    .item-phone {
    font-size: 18px;
    line-height: 24px;
    /* margin-bottom: 114px; */
    }
   }

   @media screen and (min-width: 1440px) {
    .item-phone {
    margin-left: 12px;
    }
   }


/* MAP styles */
#map {
    width: 335px;
    height: 384px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (min-width: 768px) {
    #map {
        width: 704px;
        height: 576px;
    }
}

@media screen and (min-width: 1440px) {
    #map {
        width: 640px;
        height: 524px;
    }
}

/* .leaflet-popup-content,
.leaflet-popup-tip,
.leaflet-popup-pane {
    display: none;
} */

.leaflet-popup-close-button {
    display: none; 
}

.leaflet-popup-content {
    width: 150px; 
    text-align: center;
}