.welcome{
  /* mobile */
  padding: 64px 0 80px 0;
}

/* tablet */
@media screen and (min-width: 768px) {
  .welcome {
    padding: 80px 0 80px 0;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .welcome {
<<<<<<< Updated upstream
    position: relative;
=======
    display: flex;
>>>>>>> Stashed changes
    padding: 126px 0 100px 0;
  }
}


.heading-welcome{
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 32px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .heading-welcome {
    font-size: 36px;
<<<<<<< Updated upstream
    line-height: 1.111111;
=======
    line-height: 1.1111111;
>>>>>>> Stashed changes
    width: 434px;
    margin-bottom: 50px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .heading-welcome {

  }
}

.heading-welcome-italic{
  font-style: italic;
}

.welcome-text{
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: -0.02em;
  color: #000000;
}

/* tablet */
@media screen and (min-width: 768px) {
  .welcome-text {
    flex-direction: row;
<<<<<<< Updated upstream
    letter-spacing: 1.3021428571;
=======
    line-height: 1.3021428571;

>>>>>>> Stashed changes
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .welcome-text {
    flex-direction: column;
<<<<<<< Updated upstream
    margin-top: 310px;
    gap: 24px;
=======
>>>>>>> Stashed changes
  }
}

.paragraph-welcome-1{
  width: 306px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .paragraph-welcome-1 {
<<<<<<< Updated upstream

=======
    width: 437px;
>>>>>>> Stashed changes
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .paragraph-welcome-1 {
    width: 437px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .paragraph-welcome-2 {
<<<<<<< Updated upstream
      width: 366px;
=======
    width: 366px;
>>>>>>> Stashed changes
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
<<<<<<< Updated upstream
  .paragraph-welcome-2 {
    width: 437px;
  }
=======
  .paragraph-welcome-2 {}
>>>>>>> Stashed changes
}

.welcome-img{
  margin-top: 32px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .welcome-img {
    margin-top: 29px;
    width: 704px;
    height: 599px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .welcome-img {
    margin-top: 0;
    width: 672px;
    height: 599px;
  }
}

<<<<<<< Updated upstream
/* desktop */
@media screen and (min-width: 1440px) {
  .smth{
    position: absolute;
    left: 736px;
  }
}
=======
>>>>>>> Stashed changes
