.welcome{
  /* mobile */
  padding: 64px 0 80px 0;
}

/* tablet */
@media screen and (min-width: 768px) {
  .welcome {
    padding: 80px 0 80px 0;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .welcome {
    padding: 126px 0 100px 0;
  }
}


.heading-welcome{
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 32px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .heading-welcome {
    width: 434px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .heading-welcome {

  }
}

.heading-welcome-italic{
  font-style: italic;
}

.welcome-text{
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: -0.02em;
  color: #000000;
}

.paragraph-welcome-1{
  width: 306px;
}

.welcome-img{
  margin-top: 32px;
}