.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  transform: scale(1);
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function),
    transform var(--duration) var(--timing-function);
}
.backdrop.is-hidden {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.form {
  display: flex;

  flex-direction: column;
  /* justify-content: center; */
  margin-bottom: 85px;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    gap: 32px;
  }
}
.form-room {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .form-room {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  width: 335px;
  justify-content: center;

  background-color: #121212;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 628px;
  }
}
.modal-room {
}

.label1 {
}

.title-of-modal {
  display: block;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 28px;
  line-height: calc(38 / 28px);
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.span-hidden {
  opacity: 0;
}

.modal-label {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #f7f7f7;
}

.modal-label {
  margin-bottom: 32px;
}

.modal-lable-room {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #f7f7f7;
}

.modal-under-input {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: calc(12 / 8);
  letter-spacing: 0.18em;
  color: #d8d7d7;
}

.modal-input {
  width: 266px;
  height: 36px;
  background-color: #121212;
  border: none;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
  margin-bottom: 8px;

  color: #f7f7f7;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 48px;
  gap: 10px;
  background-color: #121212;
  width: 235px;
  border: 0.8px solid #f7f7f7;
  border-radius: 32px;

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .modal-button {
    padding: 14px 130px;
    width: 399px;
  }
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: none;
  stroke: #f7f7f7;

  background-color: #121212;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-btn:hover,
.modal-btn:focus {
    background-color: var(pink);
    fill: var(pink);
} */

.modal-label-select {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #f7f7f7;
}


