.hotel-details {
  background-color: rgba(18, 18, 18, 1);
  max-width: 375px;

  padding-top: 44px;
  padding-left: 32px;
  padding-bottom: 44px;
}
.hd-title-text{
    display: flex;
}
.hd-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 1;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #f7f7f7;
}
.hd-light-text {
  max-width: 362px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #f7f7f7;
}
.hp-arr-right{
fill: rgba(255, 255, 255, 0.3);
}
.hp-arr-left{
    fill: rgba(246, 246, 246, 1);
}

.hd-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 14px;

  margin-bottom: 40px;
}
.hd-btn {
  background-color: rgba(18, 18, 18, 1);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #f7f7f7;
}
