restaurant details
.title-restaurant {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.02em;

  margin-bottom: 24px;
}
.rest-descr .rest-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;

  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .title-restaurant {
    font-weight: 500;
    font-size: 58px;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }
  .rest-descr .rest-description {
    margin-bottom: 0;
  }
  .rest-descr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 80px;
  }
}
.img-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 1440px) {
  .img-list {
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .mb-img-hidden {
    display: none;
  }
}
@media screen and (max-width: 767px), (min-width: 1440px) {
  .tbl-img-hidden {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .dsk-img-hidden {
    display: none;
  }
}

.img-height {
  width: 266px;
  height: 309px;
}
.container.restaurant-details {
  margin-bottom: 50px;
  margin-top: 60px;
}
.restaurant-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .restaurant-btn {
    margin-top: 106px;
  }
}

@media screen and (max-width: 1439px) {
  .mb-hidden {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .dsk-hidden {
    display: none;
  }
  .desk-descr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
  }
  .restaurant-btn {
    margin-top: 0;
    margin-left: 300px;
  }
  .restaurant-btn .btn {
    font-size: 18px;
  }
  .rest-descr {
    margin-bottom: 0;
  }
}

/* restaurant details
.title-restaurant {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.02em;
  
    margin-bottom: 24px;
  
  }
  .rest-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.02em;
  
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
      .title-restaurant {
          font-weight: 500;
          font-size: 58px;
          line-height: 1;
          letter-spacing: 0.02em;
        }
      .rest-description {
          margin-bottom: 0;
        }
        .rest-descr{
          display: flex;
          gap: 32px;
          margin-bottom: 80px;
        }
    }
  .rest-mb-img {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .container.restaurant-details {
    position: relative;
    margin-bottom: 50px;
    margin-top: 60px;
    padding-bottom: 110px;
  }
  .restaurant-btn {
    display: flex;
    gap: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(14%);
  }
  
  @media screen and (min-width: 768px) {
      .restaurant-btn {
          
          left: 0;
          bottom: 0;
          transform: translate(72%);
        }
    }
    @media screen and (min-width: 1440px) {
      
    } */
