.restaurant-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  margin-bottom: 24px;
}

.hero-restaurant {
  background: #f6f6f6;
  max-width: 375px;

  padding-top: 40px;
  padding-left: 20px;
}

.btns-rest-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;

  margin-bottom: 40px;
}
.rest-simple-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #121212;

  max-width: 338px;
}

.rest-img-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
