.rest-about-kitchen {
  max-width: 375px;
  background-color: rgba(246, 246, 246, 1);

  padding-bottom: 64px;
}
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.rest-ak-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin-bottom: 8px;
}
.rest-two-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rest-ak-cook {
  width: 335px;
  height: 443px;
}
.rest-ak-meat {
  width: 158px;
  height: 149px;
}
.rest-ak-drink {
  width: 157px;
  height: 149px;
}
.rest-ak-simple-text {
  display: inline-block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #121212;

  max-width: 335px;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  .rest-ak-cards {
    column-gap: 32px;
  }

  .rest-about-kitchen {
    max-width: 768px;
    padding-bottom: 80px;
  }
  .rest-two-card {
    row-gap: 16px;
  }
  .rest-two-cards {
    order: 1;
  }
  .rest-cook-one-card {
    order: 2;
  }
  .rest-ak-cook {
    width: 388px;
    height: 515px;
  }
  .rest-ak-meat {
    width: 284px;
    height: 296px;
  }
  .rest-ak-drink {
    width: 284px;
    height: 203px;
  }
  .rest-about-kitchen-txt {
    display: flex;
    column-gap: 32px;
    max-width: 768px;
  }
  .rest-ak-first-txt {
    max-width: 349px;
  }
  .rest-ak-second-txt {
    max-width: 323px;
  }
}
@media screen and (max-width: 1439px) {
  .rest-ak-text-lpt {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .rest-about-kitchen {
    max-width: 1440px;
    padding-bottom: 100px;
  }
  .rest-ak-cook {
    width: 511px;
    height: 598px;
  }
  .rest-ak-meat {
    width: 334px;
    height: 389px;
  }
  .rest-ak-drink {
    width: 467px;
    height: 389px;
  }
  .rest-about-kitchen-txt {
    display: none;
  }
}
